<!DOCTYPE html>
<html lang="en">
<head>
<title>hackedGaudi Online</title>
<meta charset="utf-8">
<meta name="viewport" content="width-device-width, initial-scale=1.0">
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/css/hgaudi.css" rel="stylesheet"/>
<link href="/css/prettify.css" rel="stylesheet"/>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/hogan.js/2.0.0/hogan.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.0/typeahead.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script type="text/javascript" src="/js/sundar-guid.js"></script>
<script type="text/javascript" src="/js/manage-files.js"></script>
<script type="text/javascript" src="/js/hgaudi-assist.js"></script>
<script type="text/javascript" src="/js/hgaudi.min.js"></script>
</head>
<body>
<div id="cookiesNotif" class="modal fade">
	<div class="modal-header">
		<h3>Okay to use cookies?</h3>
	</div>
	<div class="modal-body">
		<p><small>
		This web application uses a token cookie to work.<br/>
		The cookie only contains a GUID that is used to keep track of files
		you upload or generate and does <strong>not</strong> gather any identifiable data
		such as your browsing habits.</small></p>
		<p><small>Do you wish to continue?</small></p>
		<button id="proceed" class="btn large">Yes, set cookie and continue.</button>
		<button id="abandon" class="btn large">No, do not set cookie and exit.</button>
	</div>
</div>
<div id="licenseModal" class="modal hide fade">
	<div class="modal-header">
		<h3>License</h3>
	</div>
	<div class="modal-body">
		<p id="licenseText">
		hackedGaudi platform agnostic build tool<br/>
		Copyright 2013 Sam Saint-Pettersen.<br/>
		http://github.com/stpettersens/hackedGaudi<br/><br/>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a>
	</div>
</div>
<div id="creditsModal" class="modal hide fade">
	<div class="modal-header">
		<h3>Credits</h3>
		<p><br/>
		hackedGaudi Online was written by Sam Saint-Pettersen.
		<br/>It either has made use of or actively uses:</p>
	</div>
	<div id="credits-body" class="modal-body">
		<!-- Consider moving this to its own page later on. -->
		<h4>haxe</h4>
		<p>Copyright &copy; 2005-2013 Haxe Foundation.
		<br/><a href="http://www.haxe.org">http://www.haxe.org</a></p>
		<hr/>
		<h4>yuicompressor</h4>
		<p>Copyright &copy; 2013 Yahoo!, Inc.
		<br/><a href="http://yui.github.io/yuicompressor">http://yui.github.io/yuicompressor</a></p>
		<hr/>
		<h4>node.js</h4>
		<p>Copyright &copy; Joyent, Inc. and other Node contributors.
		<br/><a href="http://www.nodejs.org">http://www.nodejs.org</a></p>
		<hr/>
		<h4>express</h4>
		<p>Copyright &copy; 2009-2011 TJ Holowaychuk.
		<br/><a href="http://www.expressjs.com">http://www.expressjs.com</a></p>
		<hr/>
		<h4>ejs</h4>
		<p>Copyright &copy; Jupiter Consulting.
		<br/><a href="http://embeddedjs.com">http://embeddedjs.com</a></p>
		<hr/>
		<h4>mongodb</h4>
		<p>Copyright &copy; 2011-2013 10-gen, Inc. &amp; Christian Kvalheim (node.js module).
		<br/><a href="http://mongodb.org">http://mongodb.org</a></p>
		<hr/>
		<h4>bootstrap</h4>
		<p>Copyright &copy; 2012 Twitter, Inc.
		<br/><a href="http://twitter.github.io/bootstrap">http://twitter.github.io/bootstrap</a></p>
		<hr/>
		<h4>hogan.js</h4>
		<p>Copyright &copy; 2011 Twitter, Inc.
		<br/><a href="http://twitter.github.io/hogan.js">http://twitter.github.io/hogan.js</a></p>
		<hr/>
		<h4>typeahead.js</h4>
		<p>Copyright &copy; 2013 Twitter, Inc.
		<br/><a href="http://twitter.github.io/typeahead.js">http://twitter.github.io/typeahead.js</a></p>
		<hr/>
		<h4>jquery</h4>
		<p>Copyright &copy; 2005, 2012 jQuery Foundation, Inc.
		<br/><a href="http://jquery.org">http://jquery.org</a></p>
		<hr/>
		<h4>jquery.cookie</h4>
		<p>Copyright &copy; 2013 Klaus Hartl.
		<br/><a href="http://github.com/carhartl/jquery-cookie">http://github.com/carhartl/jquery-cookie</a></p>
		<hr/>
		<h4>cookies</h4>
		<p>Copyright &copy; 2012 Jed Schmidt.
		<br/><a href="http://github.com/jed/cookies">https://github.com/jed/cookies</a></p>
		<hr/>
		<h4>socket.io</h4>
		<p>Copyright &copy; 2011 Guillermo Rauch.
		<br/><a href="http://socket.io">http://socket.io</a></p>
		<hr/>
		<h4>prettify</h4>
		<p>Copyright &copy; 2013 Google Inc.
		<br/><a href="http://code.google.com/p/google-code-prettify">http://code.google.com/p/google-code-prettify</a></p>
		<hr/>
		<h4>underscore.js</h4>
		<p>Copyright &copy; 2009-2013 Jeremy Ashkenas, DocumentCloud.
		<br/><a href="http://underscorejs.org">http://underscorejs.org</a></p>
		<hr/>
		<h4>guid generator</h4>
		<p>Copyright &copy; 2013 Veera Sundar.
		<br/><a href="http://veerasundar.com/blog/2013/01/underscore-js-and-guid-function">
		http://veerasundar.com/blog/2013/01/underscore-js-and-guid-function</a></p>
		<hr/>
		<h4>google ajax cdn</h4>
		<p>Content delivery network.
		<br/><a href="https://developers.google.com/speed/libraries/devguide">
		https://developers.google.com/speed/libraries/devguide</a></p>
		<hr/>
		<h4>cdnjs</h4>
		<p>Content delivery network.
		<br/><a href="http://cdnjs.com">http://cdnjs.com</a></p>
		</hr>
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a>
	</div>
</div>
<div id="viewFileModal" class="modal hide fade">
	<div class="modal-header">
		<h4 id="title-filename">${filename}</h4>
	</div>
	<div class="modal-body" id="fileblock">
	</div>
	<div class="modal-footer">
		<a href="#" data-dismiss="modal" class="btn">Close</a>
	</div>
</div>
<div class="container">
	<div class="row">
		<h3>hackedGaudi Online</h3>
		<p class="description">
		hackedGaudi is Gaudi ported to <a href="http://www.haxe.org">Haxe</a>.
		Below is the JavaScript targeted build, which you can run in your browser.</p>
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#console_t" data-toggle="tab">Console</a></li>
				<li><a href="#files_t" data-toggle="tab">Files</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="console_t">
				<pre id="console"></pre>
				<div class="well">
				<div id="cli">
				<textarea id="command" class="span5" rows="1"></textarea>
				<button type="submit" class="btn" id="enterCommand">&raquo;&raquo;&raquo;</button>
				</div>
				</div>
				</div>
				<div class="tab-pane" id="files_t">
				<h5>Input files</h5>
				<div id="input-files">
					<hr/>
					<div id="i-file-list"><strong>No files uploaded.</strong></div>
					<hr/>
				</div>
				<h5>Output files</h5>
				<div id="output-files">
					<hr/>
					<div id="o-file-list"><strong>No files produced.</strong></div>
					<hr/>
				</div>
				<div id="file-control">
					<input id="addfiles" type="file" name="files[]"/>
					<button class="btn" id="addbtn">Add file</button>
					<button class="btn" id="delbtn" disabled="disabled">Delete file(s)</button>
					<button class="btn" id="dlbtn" disabled="disabled">Download file(s)</button>
				</div>
			</div>
		</div>
		</div>	
	</div>
<div id="haxe:trace"></div>
<footer>
	<a href="javascript:showLicense();">License</a> | <a href="javascript:showCredits();">Credits</a>
</footer>
</body>
</html>
