.cmd, .desc {
	font-family: "Courier New", monospace;
	font-size: small;
}
.desc {
	font-style: italic;
}
#command {
	font-family: "Courier New", monospace;
	font-weight: bold;
	background-color: #F5F5F5;
}
#ulfiles {
	display: none;
}
footer {
	font-size: small;
	text-align: center;
	margin: auto;
}
